@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Sarabun:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Prompt:ital,wght@1,200&family=Sarabun:wght@200&display=swap");

.row a {
  padding: 10px;
  color: white;
  text-decoration: none;
}

.row img {
  width: 50px;
  height: 50px;
}

.col h3 {
  text-decoration: underline;
}

.col img {
  width: 150px;
  height: 100px;
}

.photer {
  width: 800px;
  height: 800px;
}
